/*
Colors Used:
primary color: #0F3LM2
secondary color: #H3KV2N
*/
* {
    box-sizing: border-box;
  }
body {
    font-family: 'Quicksand';
    font-size: 18;
    background-color: rgb(255, 223, 178);
}
h1, h2 {
  font-family: 'Pacifico', cursive;  
  line-height: 1.5;
}
h1 {
  font-family:'Pacifico', cursive;  
  font-size: 4em;
  font-weight: 400;
}
h2 {
  font-family: 'Quicksand';  
  font-size: 3em;
    font-weight: 300;
}
h3 {
  font-family: 'Quicksand';
  font-size: 2em;
  font-weight: 250;
}
img {
    width: 100%;
    
  }
  a:active {
    color: green;
  }
  a:visited {
    color: navy (160, 2, 2, 0.98);
  }
  a:hover {
    color: red
  }
  .button {
    display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
    background-color: navy;
    color: white; /* needed to override the default link color */
    font-weight: 400;
    text-decoration: none;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid #000000; /* width of the border, type, color */
    transition-duration: 0.2s opacity;
  } 
  .button:hover {
    opacity: 0.8; /* Reduces the opacity of the button to 80% */
    text-decoration: none;
  }
  .button.contact {
    background-color: transparent;
    color: navy;
    text-transform: uppercase;
    border: 2px solid black;
  }
  .button.contact:hover {
    background-color: navy;
    color: white;
  }
  header {
    background-color: white;
    padding: 10px 0 4px;
    margin: 0px;
    border-bottom: 3px solid black;
    position: relative;
  
  }
  /* Layout styling */
  .container {
    padding: 0 auto;
    text-align: center;
  }
  .row {
    margin: 25px 0; /* 25px top and bottom, 0 left and right */
  }
  #work .row { padding-bottom: 25px; border-bottom: 1px solid #4a4a4a; }
  #hero h1 {
    text-align: center; /* Centers text */
    
  }
  .logo {
    max-width: 150px;
    
    padding: 20px;
  }
  nav > ul {
    list-style-type: none;
    padding: 0;
    margin: 1em 0;
  }
  nav > ul > li > a {
    padding: 0 15px;
    font-weight: 700;
    color: #4a4a4a;
  }
  #hero {
    background-color: rgb(255, 223, 178);
    padding: 20px 0;
    display: block;
  }
  .css-box-shadow{
	/*start ------------*/
	width: [object Object]px; 
	height: [object Object]px; 
	background: #F8F8F8; 
	border: solid #BDBDBD 1px; 
	box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5)  ; 
	-webkit-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5)  ; 
	-moz-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5)  ; 
}
main {
    padding-top: 56px;
  }
  footer {
    text-align: center;
  }
  svg {
    margin-top: 15px;
    width: 100%;
    max-width: 100%;
    height: auto;
  }
  header {
    text-align: unset;
  }
  /* ==============================
Medium devices (640px and larger)
================================= */
  @media only screen and (min-width: 640px) {
    header {
      text-align: unset;
      padding: 20px 0 13px;
      display: inline-block;
    }
    .navtoggle li:not(:last-child) {
      display: inline-block;
    }
    .navtoggle li:last-child {
      display: none;
    }
    nav {
      width: auto;
      float: right;
      margin-top: -200px;
      padding: 100px;
    }
  }
  .col-md-6 {
    width: 50%;
}
[class*="col-"] {
    float: left;
    padding-left: 10px;
    padding-right: 10px;
  }
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
}
  @keyframes color-change {
    from {fill: #edc655;}
    to {fill: #f76414;}
  }
  .sun {
    animation: 4s color-change infinite alternate linear;
  }
  @keyframes cloud-move {
    from {transform: translate(0,50px);}
    to {transform: translate(200px,50px);}
  }
  .cloud-front {
    animation: 30s cloud-move infinite alternate linear;
  }
  @keyframes cloud-move-reverse {
    from {transform: translate(446px,48px);}
    to {transform: translate(100px, 48px);}
  }
  .cloud-back {
    animation: 34s cloud-move-reverse infinite alternate linear;
  }
  #linkedin{
    height: 50px;
    max-width: 1200px;

  }
  #behance{
    height: 50px;
    max-width: 1200px;
  }
  #portrait{
    height: 120px;
  }
  #about img{
    height: 150px;
  }
  a {
  font-family:'Quicksand';  
  font-size: 1.25em;
  font-weight: 400;
  }
  p {
    font-family:'Quicksand';  
  font-size: 1.15em;
  font-weight: 200;
  }
  .profile {
    max-width: 50%;
    display: block;
    margin: 0 auto;
  }
  #contact{
    text-align: left;
    padding-left: 400px;
  }
  .navtoggle li:not(:last-child) {
    display: none;
  }
  .navtoggle, .navtoggle.responsive {
    position: relative;
  }
  .navtoggle li .icon {
    position: absolute;
    right: 0;
    top: 2px;
    font-size: 20px;
    padding-right: 0;
  }
  