/*
Colors Used:
primary color: #0F3LM2
secondary color: #H3KV2N
*/
body {
    font-family: 'Pacifico', cursive;
    font-size: 16;
    background-color: skyblue;
}
h1, h2 {
    line-height: 1.5;
}
h1 {
    font-size: 2em;
    font-weight: 300;
}
h2 {
    font-size: 1.5em;
    font-weight: 200;
}
img {
    width: 100%;
  }
  a:active {
    color: green;
  }
  a:visited {
    color: purple;
  }
  a:hover {
    color: red;
  }
  .button {
    display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
    background-color: #000cb9b6;
    color: #ffffff; /* needed to override the default link color */
    font-weight: 400;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid #0196f2; /* width of the border, type, color */
    transition: 0.2s opacity;
  } 
  .button:hover {
    opacity: 0.8; /* Reduces the opacity of the button to 80% */
    text-decoration: none;
  }
  .button.contact {
    background-color: transparent;
    color: #ff7f50;
    text-transform: uppercase;
    border: 2px solid #ff7f50;
  }
  .button.contact:hover {
    background-color: #ff7f50;
    color: #ffffff;
  }
  
