/*
Colors Used:
primary color: #0F3LM2
secondary color: #H3KV2N
*/
* {
    box-sizing: border-box;
  }
body {
    font-family: 'Pacifico', cursive;
    font-size: 16;
    background-color: skyblue;
}
h1, h2 {
    line-height: 1.5;
}
h1 {
    font-size: 2em;
    font-weight: 300;
}
h2 {
    font-size: 1.5em;
    font-weight: 200;
}
img {
    width: 100%;
  }
  a:active {
    color: green;
  }
  a:visited {
    color: purple;
  }
  a:hover {
    color: red;
  }
  .button {
    display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
    background-color: #000cb9b6;
    color: #ffffff; /* needed to override the default link color */
    font-weight: 400;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid #0196f2; /* width of the border, type, color */
    transition: 0.2s opacity;
  } 
  .button:hover {
    opacity: 0.8; /* Reduces the opacity of the button to 80% */
    text-decoration: none;
  }
  .button.contact {
    background-color: transparent;
    color: #ff7f50;
    text-transform: uppercase;
    border: 2px solid #ff7f50;
  }
  .button.contact:hover {
    background-color: #ff7f50;
    color: #ffffff;
  }
  header {
    background-color: #cc3b3b;
    text-align: center;
    padding: 10px 0;
    margin: 10px;
    border-bottom: 3px solid #4a4a4a;
    position: relative;
  }
  /* Layout styling */
  .container {
    padding: 0 15px;
  }
  .row {
    margin: 25px 0; /* 25px top and bottom, 0 left and right */
  }
  #work .row { padding-bottom: 25px; border-bottom: 1px solid #4a4a4a; }
  #hero h1 {
    text-align: center; /* Centers text */
    
  }
  .logo {
    max-width: 250px;
  }
  nav > ul {
    list-style-type: none;
    padding: 0;
  }
  nav > ul > li {
    display: inline-block;
  }
  nav > ul > li > a {
    padding: 0 15px;
    text-transform: uppercase;
    font-weight: 700;
    color: #4a4a4a;
  }
  #hero {
    background-color: #cc3b3b;
    padding: 20px 0;
  }
  .css-box-shadow{
	/*start ------------*/
	width: [object Object]px; 
	height: [object Object]px; 
	background: #F8F8F8; 
	border: solid #BDBDBD 1px; 
	box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5)  ; 
	-webkit-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5)  ; 
	-moz-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5)  ; 
}
main {
    padding-top: 133px;
  }